// -----------------------------------------------------------------------------
// This file contains all styles related to the jumbo component.
// -----------------------------------------------------------------------------

body {
  height: 100%;
  width: 100%;
}

.jumbo {
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}

.jumbo h1, .jumbo p {
  font-family: $font-family-serif;
}

.jumbo h1 {
  line-height: 100px;
  margin-top: -50px;
  //font-style: italic;
  //font-variant: small-caps;
  //text-transform: lowercase;
  font-size: 3em;
}

@include media-breakpoint-up(md) {
  .jumbo h1 {
    font-size: 4em; 
  }
}

