@charset 'UTF-8';

/* // 1. Configuration and helpers */
/* @import '../abstracts/variables'; */
/* @import 'abstracts/functions'; */
/* @import 'abstracts/mixins'; */

/* // 2. Vendors */
/* @import 'vendor/normalize'; */
/* @import 'vendor_extensions/bootstrap'; */
/* @import 'vendor_extensions/bootstrap_trailmarker'; */

/* // 3. Base stuff */
/* @import 'base/base'; */
/* @import 'base/fonts'; */
/* @import 'base/typography'; */
/* @import 'base/helpers'; */

/* // 4. Layout-related sections */
/* @import 'layout/header'; */
/* @import 'layout/footer'; */
/* @import 'layout/sidebar'; */

/* // 5. Components */
/* @import 'components/button'; */
/* @import 'components/jumbo'; */

/* // 6. Page-specific styles */
/* @import 'pages/home'; */
/* // 7. Utilities and animations */
/* @import 'utilities/animations/fadein'; */

$break-device: 800px;

$fluoro-green: darken(#48fb47,30%);

$text-font-stack: 'Lato', 'Open Sans', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

.reveal h1.strangelove-title {
  font-family: 'StrangeloveText' !important;
  font-weight: normal !important;
  font-style: normal !important;
  font-size: 7em;
  text-align: left;
  display: inline-block;
  width: 100%;
  line-spacing: 0em;
  line-height: 0.6em;
  height: 0.6em;
  margin: 0;
  position: relative;
  bottom: 0.1em;
}

.reveal h1.strangelove-title.huge {
  font-family: 'Arial' !important;
  font-size: 5em;
  color: $fluoro-green;
  text-align: right;
  text-width: 100%;
  font-style: bold !important;
}

.strangelove-text {
  font-family: $text-font-stack !important;
  font-weight: bold !important;
  font-style: normal !important;
}

.reveal h1, .reveal h2, .reveal h3,
.reveal h4, .reveal h5, .reveal h6,
.reveal ul, .reveal ol {
  font-family: $text-font-stack !important;
  font-size: 100%;
  font-weight: normal !important;
  font-style: normal !important;
  display: block !important;
}

.reveal p {
  display: flex !important;
}

.reveal p, .reveal ul, .reveal ol, .reveal table {
  text-align: left;
  font-size: 80%;
}

.reveal li {
  margin: 15px 0;
}

.reveal h1 {
  font-size: 1.6em;
  font-weight: bold !important;
  text-align: center;
  color: white !important;
}

.reveal h1.strangelove-title.huge {
  background-color: $fluoro-green;
  text-align: right;
  text-width: 100%;
  font-style: bold !important;
}

.strangelove-text {
  font-family: $text-font-stack !important;
  font-weight: bold !important;
  font-style: normal !important;
}

// Force Reveal.js to use maximum height and width slides

.reveal.slide .slides > section,
.reveal.slide .slides > section > section {
  min-height: 100% !important;
  display: flex !important;
  flex-direction: column !important;
  justify-content: left !important;
  align-items: flex-start !important;
  padding: 1em;
  @media screen and (min-width: $break-device) {
    width: 80%;
    margin: auto;
  }
  @media screen and (max-width: $break-device) {
    width: calc(100% - 2em);
    margin: 0; 
  }
}

.reveal.slide .slides > section.centred-slide,
.reveal.slide .slides > section > section.centred-slide {
  padding: 0;
  margin: 0;
  justify-content: center !important;
  align-items: center !important;
  position: absolute !important;
  top: 0 !important;
}

.print-pdf .reveal.slide .slides > section, .print-pdf .reveal.slide .slides > section > section {
  min-height: 770px !important;
  position: relative !important;
}

// Maximum height interactive background map on certain slides

@mixin fullscreen {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 100%;
  width: 100%;
}

// Full height and undecorated images on slides

@mixin clear-reveal-img-styles {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
  max-height: 100%;
  max-width: 100%;
}

// Change navigation arrows, progress bar to green

@mixin override-reveal-control-colours {
  color: $fluoro-green !important;
  border-color: $fluoro-green !important;
  font-weight: bold;
}

@mixin override-light-scheme {
  color: black !important;
  background-color: white;
  background: white;
}

.slideshow-map,
.slideshow-map .leaflet-container {
  @include fullscreen;
}

.reveal section img {
  @include clear-reveal-img-styles;
  width: 100%;
  height: auto;
}

.reveal section img.slideshow-background {
  position: absolute;
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: 100%;
  @include clear-reveal-img-styles;
}

.raise-z-index {
  z-index: 1000;
}

// Override the way Reveal.js interferes with Leaflet images in slides

.reveal section img.leaflet-tile {
  @include clear-reveal-img-styles;
}

// Override aspects of the "Night" theme

aside.controls,
aside.controls > button,
div.progress,
div.progress > span,
.reveal a {
  @include override-reveal-control-colours;
}

body{
  background:#000;
  background-color:#000;
}

section.light-scheme,
section.light-scheme h1,
section.light-scheme h2,
section.light-scheme h3,
section.light-scheme h4 {
  @include override-light-scheme;
}
